h1 {
  text-align: center;
  padding: 3rem 0;
  color: var(--white);
  font-size: 2rem;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 3rem 0;
}

.back {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
  width: 100%;
  text-align: center;
}

.back a {
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.back a:hover {
  color: var(--light-blue-color-primary);
}

body {
  background-color: var(--dark-blue-color-primary);
  height: 100vh;
}

.table-fill {
  background: var(--white);
  border-radius: 3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color: var(--gray);
  background: var(--dark-color-primary);
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 1rem;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom-: 1px solid #c1c3d1;
  color: var(--dark-color-primary);
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: var(--dark-color-primary);
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: var(--white);
}

tr:nth-child(odd):hover td {
  background: var(--dark-color-primary);
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}
